<div class="jumbotron text-center">
	<h1 style="    margin-top: -20px;">GUI for ElastiCon</h1>

	<p>{{ tagline }}</p>
	
	  	<div class="row">
	  		<div class="col-xs-4">
	  			<h4>C0 is <b style="color: #e67e22">Master</b> now</h4>
	  			<h4 style="text-align: center;">
	  				<!-- <input value="0"> -->
	  				<p style="    color: red;margin-bottom: 0px;">S1<div id="domAttributes"> <input class="text-output" style="width: 50%;
    height: 50%;width: 50%;
    height: 50%;
    background-color: #eee;
    text-align: center;  margin-bottom: 20px; font-weight: 600;
" > </div>
<p style="    color: red;margin-bottom: 0px;">S2<div id="domAttributes"> <input class="text-output" style="width: 50%;
    height: 50%;width: 50%;
    height: 50%;
    background-color: #eee;
    text-align: center;  margin-bottom: 20px; font-weight: 600;
" > </div>
	  			</h4>
	  	
	  	</div>
	  	<div class="col-xs-4">
	  		
	  	</div>
	  	<div class="col-xs-4">
	  		<h4>C1 is <b style="color: #9b59b6">Slave</b> now</h4>
	  		<!-- <h4 style="text-align: center;"></h4> -->
	  		<h4 style="text-align: center;">
	  		<p style="    color: red;margin-bottom: 0px;">S1<div id="domAttributes1"> <input class="text-output" style="    width: 50%;
    height: 50%;width: 50%;
    height: 50%;
    background-color: #eee;
    text-align: center;    height: 50%;    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #eee;
    text-align: center;font-weight: 600;  margin-bottom: 20px;
"></div>
<p style="    color: red;margin-bottom: 0px;">S2</p><div id="domAttributes1"> <input class="text-output" style="    width: 50%;
    height: 50%;width: 50%;
    height: 50%;
    background-color: #eee;
    text-align: center;    height: 50%;    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #eee;
    text-align: center;font-weight: 600;  margin-bottom: 20px;
"></div>
</h4>
	  	</div>

	  	</div>
		  <div class="row">

		    <div class="col-xs-4">
		      <p><img class="pulse" src="https://png.icons8.com/office/50/000000/cloud.png" style="height: 30%;
    width: 30%;"></p>
		    </div>
		    <div class="col-xs-4">
		      <div class="card">
			  <div class="card-body" style="height: 100px;">
			    <p>Migration Started</p>
			  </div>
			</div>
		    </div>
		    
		    <div class="col-xs-4">
		      <p><img class="newpulse" src="https://png.icons8.com/office/50/000000/cloud.png" style="height: 30%;
    width: 30%;"></p>
		    </div>

		  </div>
		  <div class="row" style="margin-top: 60px">

		    <div class="col-xs-4">
		     <!--  <p><img src="images/images.jpeg" style="height: 35%; width: 35%"></p> -->
		      <p><img src="images/controller.png" style="height: 30%; width: 30%"></p>
		    </div>
		    <div class="col-xs-4">
		      
		    </div>
		    <div class="col-xs-4">
		    <!-- 	<div class='number__wrapper1'>
				    <div class='number1'></div>
				    <div class='number1'></div>
				</div> -->
		      <p>
		      	<!-- <img src="images/images.jpeg" style="height: 35%; width: 35%;"></p> -->
		      <!-- <img src="https://png.icons8.com/windows/50/000000/switch.png"> -->
		      <img src="images/controller.png" style="height: 30%; width: 30%;"></p>
		    </div>

		  </div>

		  <div class="row" style="margin-top: 60px">

		    <div class="col-xs-4">
		    	<div class='number__wrapper'>
				    <div class='number'></div>
				    <div class='number'></div>
				    <!-- <div class='number'></div>
 -->				   <!--  <div class='number'></div>
				    <div class='number'></div>
				    <div class='number'></div>
				    <div class='number'></div> -->
				  </div>
						      <!-- <p><img src="images/host.png" style="height: 30%; width: 30%"></p> -->
				<div class='icon--computer'></div>
		    </div>

		    <div class="col-xs-4">
		      
		    </div>
		    <div class="col-xs-4">
		    	<div class='number__wrapper'>
				    <div class='number'></div>
				    <div class='number'></div>
				    <!-- <div class='number'></div> -->
				  <!--   <div class='number'></div>
				    <div class='number'></div>
				    <div class='number'></div>
				    <div class='number'></div> -->
				  </div>
				<div class='icon--computer'></div>
		     <!--  <p><img src="images/host.png" style="margin-left: 40px; height: 30%; width: 30%"></p> -->
		    </div>

		  </div>
  </div>
</div>
