<div class="jumbotron text-center">
	<h1 style="    margin-top: -20px;">GUI for ElastiCon</h1>

	<p>{{ tagline }}</p>
	
	  	<div class="row">
	  		<div class="col-xs-4">
	  			<!-- <h4 style="text-align: center;"> -->
	  				<!-- <input value="0"> -->
	  				<div id="domAttributes"> <input class="text-output" style="    width: 50%;
    height: 50%;width: 50%;
    height: 50%;
    background-color: #eee;
    text-align: center;  margin-bottom: 20px; font-weight: 600;
" > </div>
	  			</h4>
	  	
	  	</div>
	  	<div class="col-xs-4">
	  		
	  	</div>
	  	<div class="col-xs-4">
	  		
	  		<!-- <h4 style="text-align: center;"></h4> -->
	  		<div id="domAttributes1"> <input class="text-output" style="    width: 50%;
    height: 50%;width: 50%;
    height: 50%;
    background-color: #eee;
    text-align: center;     margin-left: 50px;    height: 50%;    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #eee;
    text-align: center;font-weight: 600;  margin-bottom: 20px;
"></div>
	  	</div>

	  	</div>
		  <div class="row">

		    <div class="col-xs-4">
		      <p><img src="images/controller.png" style="height: 30%; width: 30%"></p>
		    </div>
		    <div class="col-xs-4">
		      
		    </div>
		    
		    <div class="col-xs-4">
		      <p><img src="images/controller.png" style="margin-left: 50px; height: 30%; width: 30%; box-shadow: 5px 2px 2px 5px red;"></p>
		    </div>

		  </div>
		  <div class="row" style="margin-top: 60px">

		    <div class="col-xs-4">
		      <p><img src="images/images.jpeg" style="height: 35%; width: 35%"></p>
		    </div>
		    <div class="col-xs-4">
		      
		    </div>
		    <div class="col-xs-4">
		      <p><img src="images/images.jpeg" style="height: 35%; width: 35%; margin-left: 44px"></p>
		    </div>

		  </div>

		  <div class="row" style="margin-top: 60px">

		    <div class="col-xs-4">
		      <p><img src="images/host.png" style="height: 30%; width: 30%"></p>
		    </div>

		    <div class="col-xs-4">
		      
		    </div>
		    <div class="col-xs-4">
		      <p><img src="images/host.png" style="margin-left: 40px; height: 30%; width: 30%"></p>
		    </div>

		  </div>

</div>
