body { padding-top:30px; }

anime({
  targets: input,
  value: 150, // Animate the input value to 1000
  round: 1 // Remove decimals by rounding the value
});


@import url('https://fonts.googleapis.com/css?family=Space+Mono');
body {
  margin: 0;
}
.loader__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #111 0%, #222 100%);
}
.icon__container {
  margin-bottom: 50px;
  font-size: 8em;
  color: white;
  animation: cloud--color-change 30s linear infinite;
  z-index: 1;
}
.icon--computer {
  width: 90px;
  height: 125px;
  background-image: url('https://jamesobrien.io/codepen/computer.png');
  background-repeat: no-repeat;
  display: inline-block;
  /*background-position: center;*/
  background-size: contain;
  /*z-index: 1;*/
}
.number__wrapper {
  /*display: flex;*/
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
}
.number__wrapper1 {
  /*display: flex;*/
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*width: 100px;*/
  height: 100px;
  position: absolute;
}
.number {
  font-family: 'Space Mono';
  font-size: 18px;
  /*color: rgba(255, 255, 255, 0.45);*/
  color: black;
  transform: translateY(70px);
  animation: rising-numbers 0.7s linear infinite;
}
.number1 {
  font-family: 'Space Mono';
  font-size: 1em;
  /*color: rgba(255, 255, 255, 0.45);*/
  color: blue;
  transform: translateY(70px);
  animation: rising-numbers 0.7s linear infinite;
}
.number::before {
  content: 'Ping';
}
.number:nth-child(even)::before {
  content: 'Ping';
}
.number:nth-child(2) {
  animation-delay: 0.3s;
}
.number:nth-child(3) {
  animation-delay: 0.1s;
}
.number:nth-child(4) {
  animation-delay: 0.6s;
}
.number:nth-child(5) {
  animation-delay: 0.4s;
}
.number:nth-child(6) {
  animation-delay: 0.6s;
}
.number:nth-child(7) {
  animation-delay: 0.6s;
}


.number1::before {
  content: 'Ping';
}
.number1:nth-child(even)::before {
  content: 'Ping';
}
.number1:nth-child(2) {
  animation-delay: 0.3s;
}
.number1:nth-child(3) {
  animation-delay: 0.1s;
}
.number1:nth-child(4) {
  animation-delay: 0.6s;
}
.number1:nth-child(5) {
  animation-delay: 0.4s;
}
.number1:nth-child(6) {
  animation-delay: 0.6s;
}
.number1:nth-child(7) {
  animation-delay: 0.6s;
}
@keyframes rising-numbers {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: translateY(-70px);
    opacity: 1;
  }
}
@keyframes cloud--color-change {
  0% {
    color: white;
  }
  50% {
    color: #5e97ff;
  }
  100% {
    color: white;
  }
}

.pulse {
  width: 40px;
  height: 40px;
  background: #1abc9c;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #1abc9c;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px #1abc9c;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 #1abc9c;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #1abc9c;
    box-shadow: 0 0 0 0 #1abc9c;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px #1abc9c;
      box-shadow: 0 0 0 10px #1abc9c;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #1abc9c;
      box-shadow: 0 0 0 0 #1abc9c;
  }
}


.newpulse {
  width: 40px;
  height: 40px;
  background: #f1c40f;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  /*animation: newpulse 2s infinite;*/
  -webkit-animation: newpulse 120s linear infinite;
  animation: newpulse 2s linear infinite;
}

@-webkit-keyframes newpulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #f1c40f;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px #f1c40f;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 #f1c40f;
  }
}
@keyframes newpulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #f1c40f;
    box-shadow: 0 0 0 0 #f1c40f;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px #f1c40f;
      box-shadow: 0 0 0 10px #f1c40f;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #f1c40f;
      box-shadow: 0 0 0 0 #f1c40f;
  }
}
